
#wrapper-status {
  margin-top: 100px;
  max-width: 950px;
  width: 75%;
  gap: 12px;
}

.status-container {
  flex: 1;
  margin: 6px;
  margin-bottom: 0px;
  padding: 24px;
  background-color: var(--primary);
  border: solid var(--secondary) 1px;
  border-radius: 24px 24px 0px 0px;
}
@media screen and (max-width: 850px) {
  #wrapper-status {
    width: 100vw;
    min-width: 300px;
  }

  .status-container {
    width: 75%;
    min-width: 300px;
  }

  .metrics-grid {
    grid-template-columns: 1fr;
  }

  #wrapper-claw {
    width: auto;
    min-width: 250px;
  }

  .endpoint-list {
    width: auto;
    grid-template-columns: 100%;
  }
}
