#wrapper-status {
  max-width: 950px;
  width: 75%;
  gap: 12px;
}

.status-container {
  flex: 1;
  margin: 6px;
  margin-bottom: 0px;
  padding: 24px;
  background-color: var(--primary);
  border: solid var(--secondary) 1px;
  border-radius: 24px 24px 0px 0px;
  max-width: 100%;
}